<div class="flex justify-items-center justify-center">
  <div class="card" [style]="{ width: '30rem', overflow: 'hidden' }">
    <div class="flex flex-col md:flex-row">
      <div class="w-full flex flex-col items-center justify-center gap-3 py-5">
        <form autocomplete="on" [formGroup]="signupForm">
          <p class="text-3xl font-bold">Sign up for an account</p>
          @if (signupErrorMessage) {
            <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-4 mt-4">{{signupErrorMessage}}</p-message>
          }
          <div class="flex flex-col gap-2 mt-4">
            <label for="email">Email <span class="text-red-500">*</span></label>
            <input pInputText id="email" [pAutoFocus]="true" type="email" required formControlName="email"/>
          </div>
          <div class="flex flex-col gap-2  mt-4">
            <label for="password">Password <span class="text-red-500">*</span></label>
            <input pInputText id="password" type="password" required formControlName="password"/>
          </div>
          <div class="flex flex-col gap-2  mt-4">
            <label for="password_confirmation">Re-enter password <span class="text-red-500">*</span></label>
            <input pInputText id="password_confirmation" type="password" required formControlName="password_confirmation"/>
          </div>
          <div class="mt-4">
            <p-button label="Signup" (onClick)="doSignup($event)" icon="pi pi-user" class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto"/>
          </div>
        </form>
        <span>OR</span>
        <div class="flex">
          <a routerLink="/login" class="text-blue-600 visited:text-purple-600 ..."> Sign in now </a>
        </div>
      </div>
    </div>
  </div>
  <p-toast />
</div>
