<div class="w-full">
  <div class="flex justify-center items-center mt-10">
    <div class="max-w-md min-w-md">
      <p-inputgroup>
        <input pInputText placeholder="Search your note title" [(ngModel)]="searchNoteQuery"/>
        <p-inputgroup-addon>
          <p-button icon="pi pi-search" severity="secondary" variant="text" (click)="searchNote($event)"/>
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
    <div class="max-w-md">
      <p-button icon="pi pi-file-edit" severity="success" variant="text" label="Create note"
                (click)="showDialogCreateNote()"/>
    </div>
  </div>
</div>
<div class="w-full mt-10 p-10">
  <div class="card">
    <div class="mb-4">
      <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text/>
      <p-button type="button" icon="pi pi-refresh" (click)="reset()" text/>
      <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text/>
    </div>

    <p-table [columns]="colsTable" [value]="notes" [paginator]="true"
             [rows]="10"
             [first]="first"
             [totalRecords]="totalRecords"
             [showCurrentPageReport]="true"
             [lazy]="true"
             [tableStyle]="{ 'min-width': '50rem' }"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             (onPage)="pageChange($event)"
             [rowsPerPageOptions]="[10, 25, 50]">
      <ng-template #header let-columns>
        <tr>
          @for (col of columns; track col) {
            <th>
              {{ col.header }}
            </th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-note let-columns="columns" let-rowIndex="rowIndex">
        <tr>
          <td>
            {{ rowIndex + 1 }}
          </td>
          <td>
            {{ note['id'] }}
          </td>
          <td>
            {{ note['createdAt'] | date:'dd/MM/yyyy HH:mm:ss':'UTC+7' }}
          </td>
          <td>
            {{ note['title'] }}
          </td>
          <td>
            <p-button icon="pi pi-eye" severity="help" class="mr-2" [rounded]="true" [outlined]="true"
                      pTooltip="View content" (click)="viewNoteContent(note['id'])"/>
            <p-button icon="pi pi-arrow-up-right" severity="help" [rounded]="true" [outlined]="true"
                      pTooltip="View content with other page" (click)="openLinkViewContent(note['id'])"/>
          </td>
          <td>
            <p-button icon="pi pi-share-alt" class="mr-2" severity="info" [rounded]="true" [outlined]="true"
                      pTooltip="Share your note" (click)="openShareDialog(note['id'])"/>
            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" pTooltip="Edit"
                      (click)="openEditNote($event, note['id'])"/>
            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" pTooltip="Delete"
                      (click)="deleteNote(note['id'], $event)"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog maskStyleClass="backdrop-blur-sm" header="Create Note" [(visible)]="visiblePopupCreator"
          [style]="{ width: '75rem' }"
          styleClass="!border-0 !bg-transparent" [maximizable]="true" [draggable]="false">
  <form [formGroup]="noteFormCreator" (ngSubmit)="submitNote($event)">
    <div class="flex items-center gap-4 mb-4">
      <label for="title" class="font-semibold w-24">Title</label>
      <input pInputText id="title" class="flex-auto" autocomplete="off" formControlName="title"/>
    </div>
    <div class="flex items-center gap-4 mb-8">
      <span class="font-bold">Content</span>
      <br>
      <p-editor class="w-full" formControlName="content" [style]="{ height: '320px' }"/>
    </div>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visiblePopupCreator = false"/>
      <p-button label="Save" type="submit"/>
    </div>
  </form>
</p-dialog>
<p-dialog maskStyleClass="backdrop-blur-sm" header="Edit Note" [(visible)]="visiblePopupEditor"
          [style]="{ width: '75rem' }"
          styleClass="!border-0 !bg-transparent" [maximizable]="true" [draggable]="false"
          (onShow)="onShowEditNoteDialog()">
  @if (loadingEditorData) {
    <p-progressbar mode="indeterminate" [style]="{'height': '6px'}"></p-progressbar>
    <p-skeleton class="mb-2 mt-10"/>
    <p-skeleton width="10rem" class="mb-2"/>
    <p-skeleton width="5rem" class="mb-2"/>
    <p-skeleton height="2rem" class="mb-2"/>
  } @else {
    <form [formGroup]="noteFormEditor" (ngSubmit)="editNote($event)">
      <input id="id" formControlName="id" type="hidden"/>
      <div class="flex items-center gap-4 mb-4">
        <label for="title" class="font-semibold w-24">Title</label>
        <input pInputText id="title" class="flex-auto" autocomplete="off" formControlName="title"/>
      </div>
      <div class="flex items-center gap-4 mb-8">
        <span class="font-bold">Content</span>
        <br>
        <p-editor class="w-full" formControlName="content" [style]="{ height: '320px' }"/>
      </div>
      <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visiblePopupEditor = false"/>
        <p-button label="Save" type="submit"/>
      </div>
    </form>
  }
</p-dialog>
<p-dialog maskStyleClass="backdrop-blur-sm" header="View Note" [(visible)]="visibleViewer"
          [style]="{ width: '75rem' }"
          styleClass="!border-0 !bg-transparent" [maximizable]="true" [draggable]="false">
  <p-fieldset legend="Title" [toggleable]="false">
    <p>
      @if (currentNoteView) {
        {{ currentNoteView.title }}
      } @else {
        {{ '' }}
      }
    </p>
  </p-fieldset>
  <p-fieldset legend="Created at" [toggleable]="false">
    <p>
      {{ currentNoteView?.createdAt | date:'dd/MM/yyyy HH:mm:ss':'UTC' }}
    </p>
  </p-fieldset>
  <p-fieldset legend="Content" [toggleable]="false">
    @if (currentNoteView) {
      <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(currentNoteView.content)"></div>
    }
  </p-fieldset>
</p-dialog>

<p-dialog header="QR share" [modal]="true" [(visible)]="visibleShareNote" [style]="{ width: '75rem' }"
          (onShow)="onShowQrShareDialog()" (onHide)="onHideShareDialog()">
  @if (loadingSharedData) {
    <p-progressbar mode="indeterminate" [style]="{'height': '6px'}"></p-progressbar>
    <p-skeleton class="mb-2 mt-10"/>
    <p-skeleton width="10rem" class="mb-2"/>
    <p-skeleton width="5rem" class="mb-2"/>
    <p-skeleton height="2rem" class="mb-2"/>
  } @else {
    <div class="flex justify-center gap-2">
      <p-image [src]="qrNote()" alt="Image" width="250"/>
    </div>
    <div class="flex flex-col gap-4 w-full">
      <div>
        <span class="font-bold text-surface-900 dark:text-surface-0 block mb-2">Share this document</span>
        <p-inputgroup>
          <input pInputText [(ngModel)]="qrLink" readonly class="w-[25rem]"/>
          <p-inputgroup-addon>
            <p-button icon="pi pi-copy" label="Copy" severity="secondary" (click)="copyLink(qrLink)"/>
          </p-inputgroup-addon>
        </p-inputgroup>
      </div>
      <div>
        <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">Invite Member</span>
        <form [formGroup]="formInvite" (ngSubmit)="submitInvite($event)">
          <div class="flex">
              <p-inputgroup>
                <input pInputText type="email" placeholder="Type email user to share" formControlName="email"/>
                <p-select [options]="scopes" optionLabel="name" placeholder="Choose access permission" [required]="true" formControlName="permission"/>
                <button pButton label="Invite" icon="pi pi-users" type="submit" [disabled]="!formInvite.valid"></button>
              </p-inputgroup>
          </div>
        </form>

      </div>
    </div>
    <div class="w-full mt-4">
      @if (loadingUserAccessNote) {
        <p-skeleton class="mb-2 mt-10"/>
        <p-skeleton width="10rem" class="mb-2"/>
        <p-skeleton width="5rem" class="mb-2"/>
        <p-skeleton height="2rem" class="mb-2"/>
      } @else {
        <span class="font-bold text-surface-900 dark:text-surface-0 block mb-2">List of people with access</span>
        <ul class="list-none p-0 m-0 flex flex-col gap-4">
          @for (userPermission of listUserAccessNote; track userPermission) {
            <li class="flex items-center gap-2">
              <div>
                <div class="text-sm text-muted-color">{{ userPermission.email }}</div>
              </div>
              <div class="flex items-center gap-2 text-muted-color ml-auto">
                @if (userPermission.permission != 'owner') {
                  <select (change)="changeUserPermission($event, userPermission.email)"
                          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="view" [selected]="userPermission.permission == 'view'">View</option>
                    <option value="edit" [selected]="userPermission.permission == 'edit'">Edit</option>
                    <option value="revoke">Revoke the permission</option>
                  </select>
                } @else {
                  <span>{{ userPermission.permission }}</span>
                }
              </div>
            </li>
          }
        </ul>
      }
    </div>
    <div class="w-full mt-4">
      <span class="font-bold text-surface-900 dark:text-surface-0 block mb-2">General access</span>
      <ul class="list-none p-0 m-0 flex flex-col gap-4">
        <li class="flex items-center gap-2">
          <img [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/' + 'member.image'" style="width: 32px"/>
          <div>
            <span class="font-medium">{{ 'member.name' }}</span>
            <div class="text-sm text-muted-color">{{ 'member.email' }}</div>
          </div>
          <div class="flex items-center gap-2 text-muted-color ml-auto text-sm">
            <span>{{ 'member.role' }}</span>
            <i class="pi pi-angle-down"></i>
          </div>
        </li>
      </ul>
    </div>
  }
</p-dialog>
<p-toast/>
<p-confirmpopup/>
