/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";
@import "primeicons/primeicons.css";

@plugin "tailwindcss-primeui";

body {
  font-family: 'Montserrat', sans-serif; /* Example with Google Font */
}
